- semantic_form_for(@user_session) do |form|
  - form.inputs do
    = form.input :email, :label => t(:email).capitalize
    = form.input :password, :label => t(:password).capitalize
    %li.link= link_to t(:forgotten_password_link_text).capitalize, new_password_reset_path
  - form.buttons do
    = form.commit_button t(:log_in).capitalize
    %li= link_to t(:cancel).capitalize, root_url